.body {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fvectors%2Fpokemon-background.html&psig=AOvVaw1yIG8ppW4yG_uRonlKnC5_&ust=1704765502587000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCOi_oOTYzIMDFQAAAAAdAAAAABAE);
}

.main {
  display: flex;
  justify-content: center;
  
}
.search {

  justify-content: center;
}
.card {
  border: 5px solid;
  border-radius: 75px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  height: 10.3rem;
}